<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="FishMarket" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link rel="icon" href={~p"/favicon.ico"} sizes="any" />
    <link rel="icon" href={~p"/favicon-32x32.png"} type="image/png" sizes="32x32" />
    <link rel="icon" href={~p"/favicon-16x16.png"} type="image/png" sizes="16x16" />
    <link rel="apple-touch-icon" href={~p"/apple-touch-icon.png"} sizes="180x180" />
    <link rel="manifest" href={~p"/site.webmanifest"} />
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.bunny.net/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&family=Noto+Sans+SC:wght@300;400;500;600;700;800;900&family=Noto+Sans+TC:wght@300;400;500;600;700;800;900&family=Noto+Sans+JP:wght@300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.bunny.net/css2?family=Caveat:wght@600&display=swap"
      rel="stylesheet"
    />
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>
  <body class="antialiased">
    {@inner_content}
  </body>
</html>
